ccexercise_2/cache.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--DATA TYPES -->
	<xsd:complexType name="MWMessage">
		<xsd:sequence>
			<xsd:element name="message" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Messages -->
	<xsd:element name="MWCacheRequest" type="MWMessage"/>	
	<xsd:element name="MWCacheReply" type="MWMessage"/>
</xsd:schema>
